@page "/clientes"
<h2>Clientes</h2>
<br />
<a class="btn btn-primary" href="clientes/crear">Nuevo</a>
<br />
<table>
    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
    </tr>
    @if (clientes == null)
    {
        <tr>Cargando...</tr>
    }
    else if (clientes.Count == 0)
    {
        <tr>No existe clientes</tr>

    }
    else
    {
        @foreach (var item in clientes)

        {
            <tr>
                <td>@item.CodCliente</td>
                <td>@item.NombreCliente</td>
                <td>
                    <a class="btn btn-success"
                       href="clientes/editar/@item.ID/@item.CodCliente/@item.NombreCliente">
                        Editar
                    </a>
                </td>
                
                <td>
                <button class="btn btn-warning" @onclick="()=>Eliminar(item)">Eliminar</button></td>
            </tr>
        }
    }
</table>

<Confirmacion @ref="confirmacion"
              onConfirm="GrabarEliminar"
              onCancel="Cancelar">
             
    <div>¿Desea eliminar el cliente @eliminarCliente.NombreCliente?</div>
</Confirmacion>








@*if (nuevo) //nuevo es una variable no un metodo

    {


        @if (editar || eliminar)

        {
            Cancelar();
            nuevo = true;

        }

        <br />
        <h3>Nuevo Cliente</h3>
        <br />
        <input placeholder="Còdigo de Clientes" @bind="codCliente" />
        <input placeholder="Nombre de Clientes" @bind="nombCliente" />
        <button class="btn btn-success" @onclick="AgregarCliente">Agregar</button>
        <button class="btn btn-info" @onclick="Cancelar">Cancelar</button>


    }

@if (editar) //editar es una variable no un metodo

{

    <br />
    <h3>Editar Cliente</h3>
    <br />
    <input placeholder="Còdigo de Clientes" @bind="codCliente" />
    <input placeholder="Nombre de Clientes" @bind="nombCliente" />
    <button class="btn btn-success" @onclick="GrabarEditar">Grabar</button>
    <button class="btn btn-info" @onclick="Cancelar">Cancelar</button>


}



@if (eliminar) //editar es una variable no un metodo

{

    <br />
    <h3>Eliminar Cliente</h3>
    <br />
    <input placeholder="Còdigo de Clientes" @bind="codCliente" />
    <input placeholder="Nombre de Clientes" @bind="nombCliente" />
    <button class="btn btn-success" @onclick="GrabarEliminar">Eliminar</button>
    <button class="btn btn-info" @onclick="Cancelar">Cancelar</button>


}*@


@code {

        //List<Cliente> clientes = new List<Cliente>();
        List<TrabajoPracticoVerdadero.Comunes.datos.Entidades.Cliente> clientes;
        Confirmacion confirmacion;//confirmacion es una propiedad
        string codCliente = "";
        string nombCliente = "";
        TrabajoPracticoVerdadero.Comunes.datos.Entidades.Cliente eliminarCliente;


        protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();





        clientes = new()
        {
            new TrabajoPracticoVerdadero.Comunes.datos.Entidades.Cliente() { CodCliente = "Al", NombreCliente = "Alvina" },
            new TrabajoPracticoVerdadero.Comunes.datos.Entidades.Cliente() { CodCliente = "Be", NombreCliente = "Belen" }
        };
    }





    private void Eliminar(TrabajoPracticoVerdadero.Comunes.datos.Entidades.Cliente clienteEliminar)
    {

        confirmacion.Mostrar();//confirmacion minuscula es una propiedad
        codCliente = clienteEliminar.CodCliente;
        nombCliente = clienteEliminar.NombreCliente;
        eliminarCliente = clienteEliminar;
    }






    private void GrabarEliminar()

    {

        clientes.Remove(eliminarCliente);
        Cancelar();

    }


    private void Cancelar()
    {
        confirmacion.Ocultar();
        eliminarCliente = null;



    }


}
